#***Functions (def) & Lambda Functions***

###Part A — Basic Function Concepts (Single Return Values)

In [11]:
#Print a function that returns the text and name given as an input
def wish(name):
  print("Hello, Good Morning",name)

In [12]:
wish(name= "Sai")

Hello, Good Morning Sai

In [23]:
#Print the cube of a number
def cube(n):
  print(n**3)

In [26]:
cube(n = 5)

125

In [27]:
#Print whether the number that is even or odd
def check_eve(n):
  if n%2 == 0:
    print("Even")
  else:
    print("Odd")

In [29]:
check_eve(n = 4)

Even

In [37]:
#To Print the largest number of two
def greatest_of_two(a,b):
  if a>b:
    print(a)
  else:
    print(b)

In [38]:
greatest_of_two(a = 8,b = 5)

8

In [39]:
#To Print no of characters in a string
def count_letters(s):
  print(len(s))

In [40]:
count_letters(s = "Sai")

3

In [47]:
#Function that returns the number raised to the power exp
def power(n,exp = 2):
  print(n**exp)

In [48]:
power(n = 5)

25

###Part - B Returning Multiple values

In [10]:
#Write function to that returns the two values swapped as a tuple.
def swap(a,b):
  return (b,a)

In [8]:
swap(a = 5,b = 6)

[6, 5]

In [11]:
print(type(swap(a = 5,b = 6)))

<class 'tuple'>

In [12]:
# Function that returns both sum and difference of two numbers.
def add_sub(a,b):
  return (a+b,a-b)

In [13]:
add_sub(a = 5,b = 6)

(11, -1)

In [14]:
#Function that returns the area and circumference as a tuple.
def area_circum(r):
  return (3.14*r**2,2*3.14*r)

In [15]:
area_circum(r = 5)

(78.5, 31.400000000000002)

In [16]:
#Function that returns the minimum, maximum, and sum of a list.
def min_max_sum(nums):
  return (min(nums),max(nums),sum(nums))

In [17]:
min_max_sum(nums = [1,2,3,4,5])

(1, 5, 15)

###Part C - working with Strings and Formatting

In [1]:
#Function that joins multiple strings together with spaces.
def concat(*parts):
  return (" ".join(parts))

In [3]:
print(concat("Sai","ram"))

Sai ram

In [4]:
# Function that returns  "Last, First" if last name is provided, else "First".
def format_name(first, last=""):
  if last == "":
    return first
  else:
    return (last + ", " + first)
  # return (last + ", " + first if last else first) other way of returning the result

In [7]:
format_name(first= "Sai", last= "")

'Sai'

In [8]:
# Function that returns a message like "Welcome, First Last!".
def welcome(first, last):
  return ("Welcome, " + first + " " + last + "!")

In [9]:
welcome (first = "Sai", last = "Ram")

'Welcome, Sai Ram!'

## Lambda Functions

In [10]:
# Write a lambda function to add two numbers
abc = lambda x,y: x+y

In [11]:
abc(x= 20, y=30)

50

In [13]:
# Lambda function that returns the product of all arguments
mult = [1,2,3,4]
abc1 = list(map(lambda x:x*x, mult))
print(abc1)

[1, 4, 9, 16]

In [15]:
# Write a one-line lambda expression to flatten a list of pairs like like [(a,b), (c,d)] into [a, b, c, d].
flatten_list = lambda list_of_pairs: [item for pair in list_of_pairs for item in pair]

In [16]:
my_list = [(1, 2), (3, 4), (5, 6)]
flattened = flatten_list(my_list)
print(flattened)

[1, 2, 3, 4, 5, 6]

## Part E — Recursive, Higher-Order & Inner Functions

In [17]:
def factorial(n):
    return 1 if n == 0 else n * factorial(n-1)

In [20]:
factorial(4)

24

In [21]:
# Write a function apply_twice(func, x) that applies a function twice
def apply_twice(func,x):
  return(func(func(x)))

In [22]:
apply_twice(func = lambda x:x**2,x=5)

625

In [23]:
# Write a function inner_demo() that defines and calls an inner function inside it
def inner_demo():
    def inner():
        return "Inner function called!"
    return inner()

In [24]:
inner_demo()

'Inner function called!'

In [25]:
# Function that takes another function as a parameter and applies it.
def call_function(func, value):
    return func(value)

In [26]:
call_function(func = lambda x: x**2, value = 5)

25

In [27]:
# Function that defines a helper function square(x) inside it and returns a list of squares.
def square_list(nums):
    def square(x):
        return x**2
    return [square(n) for n in nums]

In [28]:
square_list(nums = [1,2,3,4,5])

[1, 4, 9, 16, 25]

## Part F — Intermediate Function Concepts

In [31]:
# Function that returns a new function which multiplies input values by m.
def multiply_by(x,m):
    return x * m

In [32]:
multiply_by(x = 5, m = 2)

10

In [29]:
#Function that filters prime numbers using a helper is_prime() function.
def filter_primes(nums):
    def is_prime(n):
        return n > 1 and all(n % i != 0 for i in range(2, int(n ** 0.5) + 1))
    return [n for n in nums if is_prime(n)]

In [30]:
nums = [1,3,4,5,6,7,9]
filter_primes(nums)

[3, 5, 7]

In [33]:
#Convert to F to C using map and lambda
def convert_to_fahrenheit(celsius_list):
    return list(map(lambda c: c * 9/5 + 32, celsius_list))

In [35]:
convert_to_fahrenheit(celsius_list=[25])

[77.0]

In [36]:
# Function that applies a function only to items that pass a condition.
def apply_if(func, predicate, iterable):
    return [func(x) if predicate(x) else x for x in iterable]

In [37]:
apply_if(func = lambda x: x**2, predicate = lambda x: x % 2 == 0, iterable = [1,2,3,4,5])

[1, 4, 3, 16, 5]

In [39]:
# Function that converts a two-argument function into a curried version can be called as f(a)(b)
def curry_function(func):
    def inner1(a):
        def inner2(b):
            return func(a, b)
        return inner2
    return inner1

In [40]:
curry_function(func = lambda a, b: a + b)(5)(3)

8

In [46]:
# Function that sums all positional arguments and multiplies by a scale factor if provided.
def variadic_sum(*args, **kwargs):
    scale = kwargs.get('scale', 1)
    return sum(args) * scale

In [47]:
variadic_sum(1, 2, 3, scale=4)

24

In [49]:
# Function that sorts a list of strings by their length using a lambda as key.
def sort_by_length(strings):
    return sorted(strings, key=lambda x: len(x))

In [50]:
sort_by_length(strings = ["apple", "banana", "cherry"])

['apple', 'banana', 'cherry']

## List Comprehensions
### Basic comprehension practice

In [53]:
# Create [1,2,3,4] → list of their squares.
squares = [x**2 for x in [1,2,3,4]]
print(squares)

[1, 4, 9, 16]

In [54]:
# Create ['a','b','c'] → list of their uppercase versions.
upper_letters = [c.upper() for c in ['a','b','c']]
print(upper_letters)

['A', 'B', 'C']

In [55]:
# Make a list of even numbers from 1 to 20.
even_numbers = [x for x in range(1,21) if x%2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [56]:
# Given words = ['apple', 'bee', 'cat'], create [(word, len(word)) for word in words].
words = ['apple', 'bee', 'cat']
word_lengths = [(word, len(word)) for word in words]
print(word_lengths)

[('apple', 5), ('bee', 3), ('cat', 3)]

In [57]:
# Flatten [[1,2], [3,4], [5]] → [1,2,3,4,5].
flat = [n for sub in [[1,2],[3,4],[5]] for n in sub]
print(flat)

[1, 2, 3, 4, 5]

In [59]:
# From nums = [0,1,2,3], create a list of 'even' or 'odd' strings.
nums = [n for n in range(4)]
even_odd = ['even' if n%2 == 0 else 'odd' for n in nums]
print(even_odd)

['even', 'odd', 'even', 'odd']

In [63]:
# Using a comprehension, make a list of booleans showing if numbers in a list are prime (use helper function).
def is_prime(n):
    return n > 1 and all(n % i != 0 for i in range(2, int(n**0.5)+1))
primes_bool = [is_prime(n) for n in [2, 3, 4, 5, 6, 7]]

In [65]:
primes_bool

[True, True, False, True, False, True]

In [62]:
#From range(1,50), select numbers divisible by both 2 and 3.
div_by_2_3 = [x for x in range(1, 50) if x % 6 == 0]

In [67]:
# Create coordinate pairs (i, j) where i and j go from 0 to 2
coords = [(i, j) for i in range(3) for j in range(3)]
print(coords)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [70]:
# From ['a b','c d e'], produce a flat list of all words
phrases = ['a b','c d e']
flat_words = [word for phrase in phrases for word in phrase.split()]
print(flat_words)

['a', 'b', 'c', 'd', 'e']

### Using list of dictionaries

In [1]:
# Create a list of names of students with score ≥ 75
Given_students = [{'name':'A','score':80}, {'name':'B','score':60}]
passed_students = [student['name'] for student in Given_students if student['score'] >= 75]
print(passed_students)

['A']

In [3]:
# Build a list of dictionaries like {'n': n, 'square': n*n} for numbers 1 to 10
dict_list = [{'n': n, 'square': n*n} for n in range(1, 11)]
print(dict_list)

[{'n': 1, 'square': 1}, {'n': 2, 'square': 4}, {'n': 3, 'square': 9}, {'n': 4, 'square': 16}, {'n': 5, 'square': 25}, {'n': 6, 'square': 36}, {'n': 7, 'square': 49}, {'n': 8, 'square': 64}, {'n': 9, 'square': 81}, {'n': 10, 'square': 100}]

In [4]:
# Merge two lists element-wise into tuples, but include only pairs where both elements are truthy.
list1, list2 = [1, '', 3], ["a", "b", None]
pairs = [(a, b) for a, b in zip(list1, list2) if a and b]
print(pairs)

[(1, 'a')]

In [6]:
# Create a comprehension to transpose a matrix (swap rows ↔ columns)
matrix = [[1,2,3],[4,5,6]]
transposed = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transposed)

[[1, 4], [2, 5], [3, 6]]

### Part C — Advanced Comprehensions

In [7]:
# Flatten a 3-level nested list [[[1,2],[3]],[[4]]] into a single flat list
nested_list = [[[1,2],[3]],[[4]]]
flat_list = [item for sublist in nested_list for sublist2 in sublist for item in sublist2]
print(flat_list)

[1, 2, 3, 4]

In [10]:
# Write a comprehension that keeps only unique items from a list while preserving order
list_with_duplicates = [1, 2, 2, 3,7,7, 4, 4, 5]
unique_list = [item for i, item in enumerate(list_with_duplicates) if item not in list_with_duplicates[:i]]
print(unique_list)

[1, 2, 3, 7, 4, 5]

In [14]:
# Find all indices (positions) where a given number appears in a list
unq_list = [1, 2, 2, 3, 7, 7, 4, 4, 5]
indices = [i for i, item in enumerate(unq_list) if item == 7]
print(indices)

[4, 5]

In [17]:
# Generate all palindromic numbers (as strings) between 1 and 999
Palindromes = [str(n) for n in range(1, 1000) if str(n) == str(n)[::-1]]
print(Palindromes)
# display(Palindromes) - To get each number in a row making it easy to read

['1', '2', '3', '4', '5', '6', '7', '8', '9', '11', '22', '33', '44', '55', '66', '77', '88', '99', '101', '111', '121', '131', '141', '151', '161', '171', '181', '191', '202', '212', '222', '232', '242', '252', '262', '272', '282', '292', '303', '313', '323', '333', '343', '353', '363', '373', '383', '393', '404', '414', '424', '434', '444', '454', '464', '474', '484', '494', '505', '515', '525', '535', '545', '555', '565', '575', '585', '595', '606', '616', '626', '636', '646', '656', '666', '676', '686', '696', '707', '717', '727', '737', '747', '757', '767', '777', '787', '797', '808', '818', '828', '838', '848', '858', '868', '878', '888', '898', '909', '919', '929', '939', '949', '959', '969', '979', '989', '999']

In [18]:
# Convert a dictionary like {'a':[1,2], 'b':[3]} into a list of (key, value) pairs
dict_to_list = {'a':[1,2], 'b':[3]}
list_of_tuples = [(key, val) for key, val in dict_to_list.items()]
print(list_of_tuples)

[('a', [1, 2]), ('b', [3])]

In [20]:
# Create a list of prime pairs (p, q) where both are primes under 100 and p + q is also prime
prime_pairs = [(p, q) for p in range(2, 100) if all(p % i != 0 for i in range(2, int(p**0.5)+1))
               for q in range(2) if all(q % i != 0 for i in range(2, int(q**0.5)+1))
               if all(p + q % i != 0 for i in range(2, int((p + q)**0.5)+1))]
print(prime_pairs)

[(2, 0), (2, 1), (3, 0), (3, 1), (5, 0), (5, 1), (7, 0), (7, 1), (11, 0), (11, 1), (13, 0), (13, 1), (17, 0), (17, 1), (19, 0), (19, 1), (23, 0), (23, 1), (29, 0), (29, 1), (31, 0), (31, 1), (37, 0), (37, 1), (41, 0), (41, 1), (43, 0), (43, 1), (47, 0), (47, 1), (53, 0), (53, 1), (59, 0), (59, 1), (61, 0), (61, 1), (67, 0), (67, 1), (71, 0), (71, 1), (73, 0), (73, 1), (79, 0), (79, 1), (83, 0), (83, 1), (89, 0), (89, 1), (97, 0), (97, 1)]

In [21]:
# Create a lower-triangular matrix (n×n) with 1s below and on the diagonal, 0s above
n = 5  # Define the size of the matrix
low_triangle_matrix = [[1 if j <= i else 0 for j in range(n)] for i in range(n)]
print(low_triangle_matrix)

[[1, 0, 0, 0, 0], [1, 1, 0, 0, 0], [1, 1, 1, 0, 0], [1, 1, 1, 1, 0], [1, 1, 1, 1, 1]]