**Basic operations for Exploring and Manipulaitng data using Pandas**

In [ ]:
# Import dataset and print the shape, column names, and data types.
import pandas as pd
import numpy as np
sales_data = pd.read_csv('/content/drive/MyDrive/Sep_2025_GenAI/Python/data/Advanced_Dirty_Sales_Dataset.csv')
print(sales_data.shape)
print(sales_data.columns)
print(sales_data.dtypes)

(100100, 12)
Index(['OrderID', 'CustomerID', 'CustomerName', 'Product', 'Category',
       'Quantity', 'Price', 'OrderDate', 'City', 'Region', 'Returned',
       'TotalAmount'],
      dtype='object')
OrderID          int64
CustomerID       int64
CustomerName    object
Product         object
Category        object
Quantity        object
Price           object
OrderDate       object
City            object
Region          object
Returned          bool
TotalAmount     object
dtype: object

In [ ]:
# Show the first 10 and last 10 rows of the dataset.
sales_data.head(10), sales_data.tail(10)

(   OrderID  CustomerID CustomerName   Product     Category Quantity    Price  \
 0    44770        8192  @ charlie !  Keyboard  Electronics        1  $870.54
 1    23355        9138  @ charlie !   Monitor  Electronics        5  $144.02
 2    75847        4098  @ charlie !    Laptop  Accessories        3  $557.79
 3    95176        2391      @ eva !   Monitor  Electronics        5   $552.2
 4     1854        8842      @ eva !    Laptop  Accessories        4   $411.2
 5    56788        6935    @ david !   Monitor  Electronics        1  $415.12
 6    63473        2787      @ bob !    Tablet  Electronics        3   $677.7
 7    79506        3389    @ alice !     Phone  Accessories        9  $674.73
 8    55148        1287    @ david !    Laptop  Accessories        2  $330.38
 9    24564        3745      @ bob !    Tablet  Accessories        8  $686.34

           OrderDate             City Region  Returned TotalAmount
 0        32/13/2023      PHOENIX#123  South     False      870.54
 1        05-02-2024      HOUSTON#123   West     False       720.1
 2        11/08/2024     NEW YORK#123   East     False     1673.37
 3        32/13/2023      CHICAGO#123  North     False      2761.0
 4        32/13/2023      CHICAGO#123   East     False      1644.8
 5  October 06, 2024  LOS ANGELES#123   West     False      415.12
 6    April 03, 2024      PHOENIX#123   West     False      2033.1
 7     July 14, 2024      HOUSTON#123  North      True     6072.57
 8        09-01-2024      HOUSTON#123   East     False      660.76
 9        23/04/2023      PHOENIX#123  North     False     5490.72  ,
         OrderID  CustomerID CustomerName   Product     Category Quantity  \
 100090    87473        6459      @ eva !     Phone  Electronics        7
 100091    46252        4130      @ bob !     Phone  Accessories        7
 100092     6769        5466      @ eva !  Keyboard  Accessories        3
 100093    29838        8422      @ eva !   Monitor          NaN        8
 100094    40937        2341      @ eva !    Tablet  Accessories        4
 100095    95426        5376    @ alice !  Keyboard  Electronics        2
 100096    77181        6047    @ alice !  Keyboard  Accessories        5
 100097     7354        2439      @ bob !    Laptop  Electronics        8
 100098    52126        2810    @ alice !  Keyboard  Electronics        7
 100099    80766        5705    @ david !    Tablet  Electronics        1

            Price         OrderDate             City Region  Returned  \
 100090    $971.5        12/10/2023      PHOENIX#123  South     False
 100091   $348.02        2024-06-01      CHICAGO#123  South     False
 100092   $752.28        2023-08-09  LOS ANGELES#123   West     False
 100093   $302.33        09/04/2023      CHICAGO#123  South     False
 100094   $736.55    March 12, 2024     NEW YORK#123   East      True
 100095   $468.67        2023-08-14              NaN   West     False
 100096  $1350.58        32/13/2023      CHICAGO#123  South      True
 100097   $330.46        2024-10-05  LOS ANGELES#123   East     False
 100098    $361.9  October 22, 2023     NEW YORK#123   West     False
 100099   $760.99        26/03/2023      CHICAGO#123  North     False

        TotalAmount
 100090      6800.5
 100091     2436.14
 100092     2256.84
 100093     2418.64
 100094      2946.2
 100095      937.34
 100096      6752.9
 100097     2643.68
 100098      2533.3
 100099      760.99  )

In [ ]:
sales_data['OrderDate'] = pd.to_datetime(sales_data['OrderDate'], errors='coerce', dayfirst=True)

In [ ]:
# Display the total number of unique customers.
sales_data['CustomerID'].nunique()

8999

In [ ]:
# Show all unique product categories and count them.
sales_data['Category'].unique(), sales_data['Category'].nunique()

(array(['Electronics', 'Accessories', nan], dtype=object), 2)

In [ ]:
#  Filter all orders made in the city of "Los Angeles".
sales_data[sales_data['City'] == "LOS ANGELES#123"]

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
5,56788,6935,@ david !,Monitor,Electronics,1,$415.12,2024-10-06,LOS ANGELES#123,West,False,415.12
18,86339,3999,@ eva !,Laptop,Electronics,9,$1070.42,2024-04-29,LOS ANGELES#123,West,False,9633.78
19,64556,4509,@ charlie !,Laptop,Electronics,1,$1093.26,2024-05-21,LOS ANGELES#123,East,False,1093.26
21,87250,2818,@ alice !,Phone,Electronics,3,$1188.93,2024-02-27,LOS ANGELES#123,North,True,3566.79
25,79725,5498,@ eva !,Tablet,Electronics,1,$686.06,2023-09-24,LOS ANGELES#123,North,False,686.06
...,...,...,...,...,...,...,...,...,...,...,...,...
100078,17979,4338,@ eva !,Monitor,Electronics,5,$491.53,2024-09-23,LOS ANGELES#123,North,False,2457.65
100080,62097,3467,@ eva !,Laptop,Accessories,4,$274.01,NaT,LOS ANGELES#123,West,False,1096.04
100084,57768,5902,@ bob !,Laptop,Electronics,9,$618.35,NaT,LOS ANGELES#123,West,False,5565.150000000001
100092,6769,5466,@ eva !,Keyboard,Accessories,3,$752.28,2023-08-09,LOS ANGELES#123,West,False,2256.84
100097,7354,2439,@ bob !,Laptop,Electronics,8,$330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68

In [ ]:
sales_data['Quantity'] = pd.to_numeric(sales_data['Quantity'], errors='coerce')
sales_data[sales_data['Quantity'] > 5]

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
7,79506,3389,@ alice !,Phone,Accessories,9.0,$674.73,2024-07-14,HOUSTON#123,North,True,6072.57
9,24564,3745,@ bob !,Tablet,Accessories,8.0,$686.34,2023-04-23,PHOENIX#123,North,False,5490.72
13,69640,1481,@ bob !,Phone,Accessories,6.0,$173.41,2023-11-26,HOUSTON#123,West,False,1040.46
17,23495,1514,@ bob !,Tablet,Electronics,9.0,$212.04,2023-07-09,CHICAGO#123,East,False,1908.36
18,86339,3999,@ eva !,Laptop,Electronics,9.0,$1070.42,2024-04-29,LOS ANGELES#123,West,False,9633.78
...,...,...,...,...,...,...,...,...,...,...,...,...
100090,87473,6459,@ eva !,Phone,Electronics,7.0,$971.5,2023-10-12,PHOENIX#123,South,False,6800.5
100091,46252,4130,@ bob !,Phone,Accessories,7.0,$348.02,2024-06-01,CHICAGO#123,South,False,2436.14
100093,29838,8422,@ eva !,Monitor,NaN,8.0,$302.33,2023-04-09,CHICAGO#123,South,False,2418.64
100097,7354,2439,@ bob !,Laptop,Electronics,8.0,$330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68
100098,52126,2810,@ alice !,Keyboard,Electronics,7.0,$361.9,2023-10-22,NEW YORK#123,West,False,2533.3

In [ ]:
sales_data['Price'] = sales_data['Price'].astype(str).str.replace('$', '', regex=False).astype(float)
sales_data['TotalAmount'] = pd.to_numeric(sales_data['TotalAmount'], errors='coerce')
sales_data['UnitTotal'] = sales_data['Quantity'] * sales_data['Price']
sales_data['Mismatch'] = sales_data['UnitTotal'] != sales_data['TotalAmount']
sales_data

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,UnitTotal,Mismatch
0,44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,PHOENIX#123,South,False,870.54,870.54,False
1,23355,9138,@ charlie !,Monitor,Electronics,5.0,144.02,2024-02-05,HOUSTON#123,West,False,720.10,720.10,False
2,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,2024-08-11,NEW YORK#123,East,False,1673.37,1673.37,False
3,95176,2391,@ eva !,Monitor,Electronics,5.0,552.20,NaT,CHICAGO#123,North,False,2761.00,2761.00,False
4,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,NaT,CHICAGO#123,East,False,1644.80,1644.80,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100095,95426,5376,@ alice !,Keyboard,Electronics,2.0,468.67,2023-08-14,NaN,West,False,937.34,937.34,False
100096,77181,6047,@ alice !,Keyboard,Accessories,5.0,1350.58,NaT,CHICAGO#123,South,True,6752.90,6752.90,False
100097,7354,2439,@ bob !,Laptop,Electronics,8.0,330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68,2643.68,False
100098,52126,2810,@ alice !,Keyboard,Electronics,7.0,361.90,2023-10-22,NEW YORK#123,West,False,2533.30,2533.30,True
100099,80766,5705,@ david !,Tablet,Electronics,1.0,760.99,2023-03-26,CHICAGO#123,North,False,760.99,760.99,False

In [ ]:
# Create a new column DiscountApplied (True if UnitTotal > TotalAmount)
sales_data['DiscountApplied'] = sales_data['UnitTotal'] > sales_data['TotalAmount']

In [ ]:
# Drop the column DiscountApplied after saving it to a variable.
saved_discount = sales_data['DiscountApplied'].copy()
sales_data = sales_data.drop(columns=['DiscountApplied'])

In [ ]:
# Filter all returned orders.
sales_data[sales_data['Returned'] == True]

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
7,79506,3389,@ alice !,Phone,Accessories,9,$674.73,"July 14, 2024",HOUSTON#123,North,True,6072.57
15,5103,1382,@ eva !,Phone,Accessories,1,$504.94,2023-03-07,NEW YORK#123,West,True,504.94
21,87250,2818,@ alice !,Phone,Electronics,3,$1188.93,"February 27, 2024",LOS ANGELES#123,North,True,3566.79
31,81349,3421,@ eva !,Laptop,Accessories,7,$1383.91,18/05/2024,LOS ANGELES#123,West,True,9687.37
53,50549,8174,@ eva !,Monitor,Electronics,5,$1358.43,32/13/2023,HOUSTON#123,South,True,6792.150000000001
...,...,...,...,...,...,...,...,...,...,...,...,...
100031,53849,7723,@ alice !,Keyboard,Electronics,4,$947.33,"April 14, 2023",CHICAGO#123,North,True,3789.32
100041,94461,5550,@ charlie !,Keyboard,Electronics,7,$1479.18,29/05/2023,PHOENIX#123,East,True,10354.26
100061,48148,6197,@ bob !,Tablet,Accessories,3,$670.62,13/09/2024,LOS ANGELES#123,South,True,2011.86
100094,40937,2341,@ eva !,Tablet,Accessories,4,$736.55,"March 12, 2024",NEW YORK#123,East,True,2946.2
100096,77181,6047,@ alice !,Keyboard,Accessories,5,$1350.58,32/13/2023,CHICAGO#123,South,True,6752.9

In [ ]:
# Show top 5 cities by number of orders.
sales_data['City'].value_counts().head(5)

City
NEW YORK#123       19781
PHOENIX#123        19771
CHICAGO#123        19615
LOS ANGELES#123    19519
HOUSTON#123        19412
Name: count, dtype: int64

In [ ]:
# What are the top 3 most sold products (by quantity)?
sales_data.groupby('Product')['Quantity'].sum().sort_values(ascending=False).head(3)

Product
Phone      96132441415527943481626744378352five4641694866...
Monitor    55141686five2557272318838512455929681921474939...
Tablet     3845913354339324954599415684725969255582151815...
Name: Quantity, dtype: object

In [ ]:
# Rename CustomerName to CustName and revert it.
sales_data = sales_data.rename(columns={'CustomerName': 'CustName'})
sales_data = sales_data.rename(columns={'CustName': 'CustomerName'})

In [ ]:
# Check and count missing values in each column.
sales_data.isna().sum()

OrderID            0
CustomerID         0
CustomerName       0
Product         2001
Category        2003
Quantity           0
Price           1001
OrderDate          0
City            2002
Region             0
Returned           0
TotalAmount        0
dtype: int64

In [ ]:
# Fill missing values in City (if any) with "Unknown".
sales_data['City'] = sales_data['City'].fillna("Unknown")

In [ ]:
# Remove duplicates based on OrderID.
sales_data = sales_data.drop_duplicates(subset='OrderID')

In [ ]:
# Sort the data by TotalAmount in descending order.
sales_data['TotalAmount'] = pd.to_numeric(sales_data['TotalAmount'], errors='coerce') # Ensure TotalAmount is numeric
sales_data.sort_values(by='TotalAmount', ascending=False)

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
99875,78404,2864,@ bob !,Laptop,Accessories,9,$1499.99,07/06/2024,PHOENIX#123,West,False,13499.91
47882,27909,1707,@ david !,Monitor,Electronics,9,$1499.95,2024-01-28,CHICAGO#123,West,False,13499.55
75618,63782,7708,@ david !,Keyboard,Electronics,9,$1499.74,2024-06-07,NEW YORK#123,West,False,13497.66
55578,49344,4338,@ david !,Keyboard,Electronics,9,$1499.2,"February 13, 2023",NEW YORK#123,South,False,13492.80
53794,34029,3759,@ bob !,Laptop,Electronics,9,$1499.17,32/13/2023,PHOENIX#123,East,False,13492.53
...,...,...,...,...,...,...,...,...,...,...,...,...
10983,88349,5241,@ david !,Monitor,Accessories,five,NaN,"May 16, 2024",CHICAGO#123,South,False,NaN
38137,61386,7207,@ eva !,Monitor,Electronics,five,NaN,"September 11, 2024",HOUSTON#123,South,False,NaN
49624,80951,3848,@ bob !,Monitor,Electronics,five,NaN,2024-09-25,NEW YORK#123,East,False,NaN
93561,22063,5964,@ charlie !,Phone,Electronics,five,NaN,"January 09, 2023",NEW YORK#123,North,False,NaN
22330,57765,4903,@ charlie !,Monitor,Accessories,five,NaN,"March 28, 2023",HOUSTON#123,South,False,NaN

In [ ]:
# Get the top 5 orders with the highest total amount.
sales_data.nlargest(5, 'TotalAmount')

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
99875,78404,2864,@ bob !,Laptop,Accessories,9,$1499.99,07/06/2024,PHOENIX#123,West,False,13499.91
47882,27909,1707,@ david !,Monitor,Electronics,9,$1499.95,2024-01-28,CHICAGO#123,West,False,13499.55
75618,63782,7708,@ david !,Keyboard,Electronics,9,$1499.74,2024-06-07,NEW YORK#123,West,False,13497.66
55578,49344,4338,@ david !,Keyboard,Electronics,9,$1499.2,"February 13, 2023",NEW YORK#123,South,False,13492.80
53794,34029,3759,@ bob !,Laptop,Electronics,9,$1499.17,32/13/2023,PHOENIX#123,East,False,13492.53

In [ ]:
sales_data['OrderDate'] = pd.to_datetime(sales_data['OrderDate'], errors='coerce', dayfirst=True)
sales_data['Year'] = sales_data['OrderDate'].dt.year
sales_data['Month'] = sales_data['OrderDate'].dt.month

In [ ]:
# Create a new column OrderMonth with full month names.
sales_data['OrderMonth'] = sales_data['OrderDate'].dt.month_name()

In [ ]:
# Show all orders from Q1 of any year (Jan–Mar).
sales_data[sales_data['OrderDate'].dt.quarter == 1]

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,Year,Month,OrderMonth
7648,31188,9115,@ david !,Keyboard,Accessories,five,NaN,2023-01-22,PHOENIX#123,East,False,NaN,2023.0,1.0,January
16690,78864,9010,@ alice !,Phone,Accessories,five,NaN,2024-02-11,CHICAGO#123,East,True,NaN,2024.0,2.0,February
68890,63511,2166,@ charlie !,Tablet,Electronics,five,NaN,2024-03-16,PHOENIX#123,North,False,NaN,2024.0,3.0,March
30805,61869,9534,@ eva !,Tablet,Accessories,five,NaN,2023-02-02,HOUSTON#123,South,False,NaN,2023.0,2.0,February
23041,83063,8958,@ bob !,Laptop,Electronics,five,NaN,2023-01-29,CHICAGO#123,South,False,NaN,2023.0,1.0,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22861,59694,9876,@ charlie !,Phone,Accessories,2,$501.32,2024-01-10,HOUSTON#123,North,False,1002.64,2024.0,1.0,January
48440,22580,2405,@ alice !,Laptop,Electronics,9,$1113.3,2023-01-29,NEW YORK#123,North,False,10019.70,2023.0,1.0,January
78026,49037,4333,@ bob !,Laptop,Accessories,9,$1112.96,2024-02-04,PHOENIX#123,East,False,10016.64,2024.0,2.0,February
38213,82272,6282,@ david !,Laptop,Electronics,9,$1111.18,2024-03-20,LOS ANGELES#123,South,False,10000.62,2024.0,3.0,March
58556,70331,5932,@ charlie !,Monitor,Electronics,3,$333.39,2024-02-15,HOUSTON#123,West,False,1000.17,2024.0,2.0,February

In [ ]:
# Count number of orders for each region.
sales_data['Region'].value_counts()

Region
East     25098
North    25022
South    24998
West     24882
Name: count, dtype: int64

In [ ]:
# Display all customers who bought both "Phone" and "Laptop".
cust_prod = sales_data.groupby(['CustomerID', 'Product']).size().unstack(fill_value=0)
cust_prod[(cust_prod['Phone'] > 0) & (cust_prod['Laptop'] > 0)]

Product     Keyboard  Laptop  Monitor  Phone  Tablet
CustomerID
1000               4       5        1      3       1
1001               1       2        5      4       4
1003               2       4        2      3       3
1004               3       1        0      3       2
1005               1       5        2      3       2
...              ...     ...      ...    ...     ...
9992               3       5        3      2       1
9994               2       4        3      5       2
9995               3       4        4      6       4
9996               0       1        1      6       2
9998               6       3        3      6       2

[7078 rows x 5 columns]

In [ ]:
# Convert all city names to uppercase and restore them back.
sales_data['City_UP'] = sales_data['City'].str.upper()
sales_data['City'] = sales_data['City_UP']
sales_data = sales_data.drop(columns='City_UP')

In [ ]:
# Find average price of each category.
sales_data['Price'] = pd.to_numeric(sales_data['Price'], errors='coerce')
sales_data.groupby("Category")['Price'].mean()

Category
Accessories   NaN
Electronics   NaN
Name: Price, dtype: float64

In [ ]:
# Use groupby() to find total sales by Region.
sales_data.groupby("Region")['TotalAmount'].sum()

Region
East     99576789.10
North    98930659.21
South    99021836.16
West     98369402.78
Name: TotalAmount, dtype: float64

In [ ]:
# Save only East region data to a CSV file.
sales_data[sales_data['Region'] == "East"].to_csv("East_Region.csv", index=False)

In [ ]:
# Reset and set index using OrderID.
sales_data = sales_data.set_index('OrderID')
sales_data = sales_data.reset_index()

In [ ]:
# Display all orders placed on a weekend.
sales_data[sales_data['OrderDate'].dt.dayofweek >= 5]

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,Year,Month,OrderMonth
0,97508,9454,@ eva !,Laptop,Accessories,five,NaN,2023-06-18,HOUSTON#123,North,False,NaN,2023.0,6.0,June
32,31188,9115,@ david !,Keyboard,Accessories,five,NaN,2023-01-22,PHOENIX#123,East,False,NaN,2023.0,1.0,January
47,78864,9010,@ alice !,Phone,Accessories,five,NaN,2024-02-11,CHICAGO#123,East,True,NaN,2024.0,2.0,February
55,63511,2166,@ charlie !,Tablet,Electronics,five,NaN,2024-03-16,PHOENIX#123,North,False,NaN,2024.0,3.0,March
137,41463,4751,@ charlie !,Monitor,Accessories,five,NaN,2023-09-30,PHOENIX#123,West,False,NaN,2023.0,9.0,September
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99947,72597,4919,@ alice !,Tablet,Accessories,7,NaN,2024-10-05,PHOENIX#123,South,False,10006.36,2024.0,10.0,October
99967,46226,1234,@ alice !,NaN,Accessories,8,NaN,2024-12-01,HOUSTON#123,South,False,10000.00,2024.0,12.0,December
99980,77851,9200,@ david !,NaN,Accessories,4,NaN,2023-06-18,HOUSTON#123,South,True,1000.36,2023.0,6.0,June
99989,71670,9053,@ bob !,Laptop,Accessories,4,NaN,2023-11-05,CHICAGO#123,North,False,1000.08,2023.0,11.0,November
99995,13067,8008,@ david !,Laptop,Electronics,1,NaN,2024-06-23,CHICAGO#123,West,False,100.41,2024.0,6.0,June

## Intermediate ##

In [ ]:
# Create a pivot table of TotalAmount by Region and Category.
pivot = sales_data.pivot_table(values='TotalAmount', index='Region', columns='Category', aggfunc='sum')

In [ ]:
# Unpivot (melt) the pivot table from pivot table of TotalAmount by Region and Category
pd.melt(pivot.reset_index(), id_vars='Region')

  Region     Category        value
0   East  Accessories  48596869.16
1  North  Accessories  48243633.69
2  South  Accessories  48628318.04
3   West  Accessories  48250060.38
4   East  Electronics  49141938.16
5  North  Electronics  48498063.95
6  South  Electronics  48338803.01
7   West  Electronics  48238382.34

In [ ]:
# Use groupby() to get average Price by Product and Region.
sales_data.groupby(['Product', 'Region'])['Price'].mean()

Product   Region
Keyboard  East     NaN
          North    NaN
          South    NaN
          West     NaN
Laptop    East     NaN
          North    NaN
          South    NaN
          West     NaN
Monitor   East     NaN
          North    NaN
          South    NaN
          West     NaN
Phone     East     NaN
          North    NaN
          South    NaN
          West     NaN
Tablet    East     NaN
          North    NaN
          South    NaN
          West     NaN
Name: Price, dtype: float64

In [ ]:
# Use .agg() to get min, max, and mean quantity for each category.
# Map word-numbers to numeric values
word_to_num = {
    'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5,
    'six': 6, 'seven': 7, 'eight': 8, 'nine': 9, 'ten': 10
}
sales_data['Quantity'] = sales_data['Quantity'].astype(str).str.lower().replace(word_to_num, regex=True)
sales_data['Quantity'] = pd.to_numeric(sales_data['Quantity'], errors='coerce')
sales_data.groupby('Category')['Quantity'].agg(['min', 'max', 'mean'])

             min  max      mean
Category
Accessories    1    9  4.995291
Electronics    1    9  4.979454

In [ ]:
# Create a lookup table for CustomerID and CustomerName and remove duplicates
customer_lookup = sales_data[['CustomerID', 'CustomerName']].drop_duplicates()

In [ ]:
# Create a lookup for Product and Category, remove duplicates.
product_lookup = sales_data[['Product', 'Category']].drop_duplicates()

In [ ]:
# Merge back the lookups with the main file (simulate master lookup join).
merged_sales = sales_data.merge(customer_lookup, on='CustomerID', how='left') \
                         .merge(product_lookup, on='Product', how='left')

In [ ]:
# Compare the original and merged DataFrames – are all rows retained?
len(sales_data) == len(merged_sales)

False

In [ ]:
# Calculate return rate % by region (total returned orders / total orders).
return_rate = sales_data.groupby('Region')['Returned'].mean() * 100

In [ ]:
# Create a column HighValue where TotalAmount>5000
sales_data['HighValue'] = sales_data['TotalAmount'] > 5000

## Advanced ##

In [ ]:
# Create a new column DiscountedPrice assuming a flat 10% discount on all products.
sales_data['DiscountedPrice'] = sales_data['Price'] * 0.9

In [ ]:
# Use .rolling() to calculate a 7-day rolling average of TotalAmount per city
sales_data.sort_values('OrderDate', inplace=True)
sales_data['Rolling7'] = sales_data.groupby('City')['TotalAmount'].transform(lambda x: x.rolling(7, min_periods=1).mean())

In [ ]:
# Calculate the cumulative revenue for each Region sorted by OrderDate.
sales_data['CumulativeRevenue'] = sales_data.sort_values('OrderDate') \
    .groupby('Region')['TotalAmount'].cumsum()

In [ ]:
# Rank customers by their total revenue generated (TotalAmount) in descending order.
sales_data.groupby('CustomerID')['TotalAmount'].sum().sort_values(ascending=False)

CustomerID
9095    121916.87
1645    120110.38
6599    113922.83
7054    113280.38
1987    109989.16
          ...
1856      4980.05
5028      4783.02
8324      4254.91
4054      4039.43
7829      2572.70
Name: TotalAmount, Length: 8999, dtype: float64

In [ ]:
# Calculate the average order value per customer using groupby().
sales_data.groupby('CustomerID')['TotalAmount'].mean()

CustomerID
1000    3316.740714
1001    2728.613750
1002    3293.908750
1003    2863.965000
1004    2291.554444
           ...
9994    4331.444375
9995    4778.646190
9996    4078.016364
9997    4062.555000
9998    5318.008421
Name: TotalAmount, Length: 8999, dtype: float64

In [ ]:
# Generate a report showing total quantity sold per Category per Region.
sales_data.groupby(['Category', 'Region'])['Quantity'].sum()

Category     Region
Accessories  East      61300
             North     60911
             South     61274
             West      60490
Electronics  East      61580
             North     61073
             South     61044
             West      61088
Name: Quantity, dtype: int64

In [ ]:
# Use .agg() to compute multiple stats (sum, mean, min, max) for TotalAmount per Region.
sales_data.groupby('Region')['TotalAmount'].agg(['sum', 'mean', 'min', 'max'])

                sum         mean     min       max
Region
East    99576789.10  4006.630552  100.07  13492.53
North   98930659.21  3996.875372  100.19  13491.45
South   99021836.16  4000.882269  101.10  13492.80
West    98369402.78  3991.454769  100.34  13499.91

In [ ]:
# Create a summary DataFrame showing each customer’s: total orders, total amount spent, and total products bought.
summary = sales_data.groupby('CustomerID').agg(
    total_orders=('OrderID', 'count'),
    total_amount=('TotalAmount', 'sum'),
    total_products=('Quantity', 'sum')
)

In [ ]:
# Convert the OrderDate to datetime and extract new columns: Year, Month, and Weekday.
sales_data['Year'] = sales_data['OrderDate'].dt.year
sales_data['Month'] = sales_data['OrderDate'].dt.month
sales_data['Weekday'] = sales_data['OrderDate'].dt.day_name()

In [ ]:
# Create a monthly revenue trend using resample() on OrderDate.
monthly_revenue = sales_data.resample('ME', on='OrderDate')['TotalAmount'].sum()
monthly_revenue

OrderDate
2023-01-31    3490095.10
2023-02-28    3063324.33
2023-03-31    3424791.17
2023-04-30    3427925.66
2023-05-31    3346445.59
2023-06-30    3016668.44
2023-07-31    3408662.82
2023-08-31    2999919.65
2023-09-30    3424244.65
2023-10-31    3470489.51
2023-11-30    3243685.04
2023-12-31    3419601.33
2024-01-31    3209874.05
2024-02-29    3126267.14
2024-03-31    3383539.09
2024-04-30    3239974.58
2024-05-31    3194890.08
2024-06-30    3267291.92
2024-07-31    3347135.27
2024-08-31    3426310.12
2024-09-30    3281821.31
2024-10-31    3427320.58
2024-11-30    3187882.79
2024-12-31    3222630.44
Name: TotalAmount, dtype: float64

In [ ]:
# Find the day of the week with the highest sales volume.
sales_data.groupby(sales_data['OrderDate'].dt.day_name())['TotalAmount'].sum().idxmax()

'Wednesday'

In [ ]:
# Compare monthly returned orders count vs. total orders.
monthly_returns = sales_data.resample('ME', on='OrderDate')['Returned'].sum()
monthly_orders = sales_data.resample('ME', on='OrderDate')['OrderID'].count()
monthly_returns / monthly_orders

OrderDate
2023-01-31    0.100802
2023-02-28    0.102767
2023-03-31    0.098810
2023-04-30    0.082126
2023-05-31    0.111369
2023-06-30    0.122739
2023-07-31    0.100571
2023-08-31    0.113695
2023-09-30    0.094899
2023-10-31    0.101545
2023-11-30    0.099640
2023-12-31    0.082569
2024-01-31    0.096429
2024-02-29    0.108141
2024-03-31    0.112161
2024-04-30    0.092968
2024-05-31    0.090369
2024-06-30    0.094828
2024-07-31    0.095571
2024-08-31    0.114187
2024-09-30    0.100000
2024-10-31    0.080645
2024-11-30    0.104878
2024-12-31    0.093968
dtype: float64

In [ ]:
# Find peak sales month and peak returned month for each Region.
peak_sales = sales_data.groupby('Region').apply(
    lambda x: x.resample('ME', on='OrderDate')['TotalAmount'].sum().idxmax(), include_groups=False)
peak_returns = sales_data.groupby('Region').apply(
    lambda x: x.resample('ME', on='OrderDate')['Returned'].sum().idxmax(), include_groups=False)

In [ ]:
# Identify cities that saw consistent monthly growth for 3+ months in a row.
monthly = sales_data.groupby(['City', pd.Grouper(key='OrderDate', freq='ME')])['TotalAmount'].sum()
growth = monthly.groupby(level=0).diff() > 0
consistent_growth = growth.groupby(level=0).rolling(3).sum() == 3
consistent_growth

City         City         OrderDate
CHICAGO#123  CHICAGO#123  2023-01-31    False
                          2023-02-28    False
                          2023-03-31    False
                          2023-04-30    False
                          2023-05-31    False
                                        ...
UNKNOWN      UNKNOWN      2024-08-31    False
                          2024-09-30    False
                          2024-10-31    False
                          2024-11-30    False
                          2024-12-31    False
Name: TotalAmount, Length: 144, dtype: bool

In [ ]:
# Generate a YoY (Year-over-Year) growth percentage in TotalAmount for each Region
yearonyear = sales_data.groupby(['Region', 'Year'])['TotalAmount'].sum().pct_change() * 100
yearonyear

Region  Year
East    2023.0         NaN
        2024.0   -0.997874
North   2023.0   -1.156735
        2024.0    3.954840
South   2023.0   -7.036690
        2024.0    3.136323
West    2023.0    3.892207
        2024.0   -9.877724
Name: TotalAmount, dtype: float64

In [ ]:
# Extract only the first name from the CustomerName column.
sales_data['FirstName'] = sales_data['CustomerName'].str.split().str[0]

In [ ]:
# Create a column HighValueOrder where TotalAmount > 5000.
sales_data['HighValueOrder'] = sales_data['TotalAmount'] > 5000

In [ ]:
# Flag suspicious orders where Quantity > 10 and Price > 1000.
sales_data['Suspicious'] = (sales_data['Quantity'] > 10) & (sales_data['Price'] > 1000)

In [ ]:
# Normalize all text columns (lowercase, strip spaces, remove special chars if any).
def clean_text(s):
    return (
        s.str.lower()
         .str.strip()
         .str.replace(r'[^a-z0-9 ]', '', regex=True)
    )

text_cols = sales_data.select_dtypes(include=['object']).columns
sales_data[text_cols] = sales_data[text_cols].apply(clean_text)

In [ ]:
# Filter all products that contain the substring 'top' (case insensitive).
sales_data[sales_data['Product'].str.contains('top', case=False, na=False)]

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,...,Year,Month,OrderMonth,DiscountedPrice,Rolling7,CumulativeRevenue,Weekday,FirstName,HighValueOrder,Suspicious
98080,94109,3227,charlie,laptop,electronics,2,NaN,2023-01-01,chicago123,south,...,2023.0,1.0,january,NaN,1035.840000,1035.84,sunday,,False,False
3717,55462,7985,charlie,laptop,accessories,8,NaN,2023-01-01,new york123,south,...,2023.0,1.0,january,NaN,6873.863333,10498.08,sunday,,True,False
61746,64870,3793,david,laptop,electronics,5,NaN,2023-01-01,chicago123,south,...,2023.0,1.0,january,NaN,4402.757500,18404.73,sunday,,False,False
39633,57877,1059,eva,laptop,electronics,9,NaN,2023-01-01,new york123,west,...,2023.0,1.0,january,NaN,5910.293333,9952.40,sunday,,False,False
93299,42428,7761,eva,laptop,NaN,9,NaN,2023-01-02,houston123,north,...,2023.0,1.0,january,NaN,5579.097500,52974.21,monday,,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99963,30392,3548,alice,laptop,accessories,8,NaN,NaT,new york123,east,...,NaN,NaN,NaN,NaN,6146.262857,99563586.46,NaN,,True,False
99964,45381,8053,david,laptop,accessories,7,NaN,NaT,los angeles123,east,...,NaN,NaN,NaN,NaN,7432.551429,99573587.22,NaN,,True,False
99966,26727,6789,bob,laptop,accessories,7,NaN,NaT,chicago123,north,...,NaN,NaN,NaN,NaN,7432.024286,98926254.07,NaN,,True,False
99975,12002,2301,david,laptop,accessories,1,NaN,NaT,chicago123,west,...,NaN,NaN,NaN,NaN,7431.894286,98366301.62,NaN,,False,False
99994,6627,1331,david,laptop,electronics,1,NaN,NaT,houston123,north,...,NaN,NaN,NaN,NaN,3444.704286,98930559.02,NaN,,False,False

In [ ]:
# Use pivot_table() to summarize TotalAmount by Region and Category.
pivot_summary = sales_data.pivot_table(
    values='TotalAmount',
    index='Region',
    columns='Category',
    aggfunc='sum',
    fill_value=0
)
pivot_summary

Category  accessories  electronics
Region
east      48596869.16  49141938.16
north     48243633.69  48498063.95
south     48628318.04  48338803.01
west      48250060.38  48238382.34

In [ ]:
# Create a column to show each order's percentage of the total monthly revenue.
# Calculate monthly revenue
monthly_revenue = sales_data.groupby(
    sales_data['OrderDate'].dt.to_period('M')
)['TotalAmount'].transform('sum')

# Create percentage column
sales_data['MonthlyRevenuePct'] = (
    sales_data['TotalAmount'] / monthly_revenue * 100
)

In [ ]:
# Use .transform() to normalize TotalAmount within each Region.
sales_data['RegionNormTotal'] = sales_data.groupby('Region')['TotalAmount'] \
    .transform(lambda x: (x - x.min()) / (x.max() - x.min()))

In [ ]:
# Perform one-hot encoding of the Region column.
region_encoded = pd.get_dummies(sales_data['Region'], prefix='Region')

# Optionally merge back into the dataset
sales_data = pd.concat([sales_data, region_encoded], axis=1)

In [ ]:
# Generate a heatmap-ready table using pivot_table() showing quantity sold by City and Product.
heatmap_table = sales_data.pivot_table(
    values='Quantity',
    index='City',
    columns='Product',
    aggfunc='sum',
    fill_value=0
)
heatmap_table

Product         keyboard  laptop  monitor  phone  tablet
City
chicago123         19208   18618    18636  19759   19129
houston123         19050   18993    19311  18893   19080
los angeles123     18881   19340    19037  19214   19089
new york123        19226   19570    18926  19996   18758
phoenix123         19369   19814    18654  18909   19664
unknown             1851    2041     1966   1885    1921

In [ ]:
# Create a customer lookup DataFrame with unique CustomerID, CustomerName, and total orders. Save it.
customer_lookup = sales_data.groupby(['CustomerID', 'CustomerName']).size().reset_index(name='TotalOrders')
customer_lookup.to_csv('customer_lookup.csv', index=False)

In [ ]:
# Create a product lookup DataFrame with unique Product, Category, and average Price.Save it.
product_lookup = sales_data.groupby(['Product', 'Category'])['Price'].mean().reset_index()
product_lookup.to_csv("Product_Lookup.csv", index=False)

In [ ]:
# Merge the original Sales_100k_Dataset.csv with both the customer and product lookup DataFrames.
master = sales_data.merge(customer_lookup, on='CustomerID', how='left') \
                   .merge(product_lookup, on='Product', how='left')

In [ ]:
# create a master file with these columns: OrderID, OrderDate, CustomerName, Product, Category, Price, Quantity,
# TotalAmount, Returned, and the AvgProductPrice and TotalCustomerOrders from lookup tables.
master_file = master[['OrderID', 'OrderDate', 'CustomerName_x', 'Product',
                      'Category_x', 'Price_x', 'Quantity', 'TotalAmount',
                      'Returned', 'Price_y', 'TotalOrders']]
master_file = master_file.rename(columns={'Price_y': 'AvgProductPrice',
                                          'CustomerName_x': 'CustomerName',
                                          'Category_x': 'Category',
                                          'Price_x': 'Price'})
master_file.to_csv("Master_File.csv", index=False)

In [ ]:
# Analyze and visualize the top 5 customers and top 5 products contributing to revenue using the master file.
top_customers = master.groupby('CustomerName_x')['TotalAmount'].sum().nlargest(5)
top_products = master.groupby('Product')['TotalAmount'].sum().nlargest(5)